main{
    height: 500px;
    border: 2px solid green;
}
.flex-container{
    margin-left: 200px;
    width: 500px;
    border: 2px dashed purple;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.flex-container>div{
    font-size: 30px ;
    color: blue;
    padding: 30px;
    margin: 20px;
    border: 1px solid red;
    background-color: pink;
}